<configuration>

	<appender
		name="logcat"
		class="ch.qos.logback.classic.android.LogcatAppender">
		<encoder>
			<pattern>%msg</pattern>
		</encoder>
	</appender>

	<appender
		name="crashlytics"
		class="ru4pda.news.logs.CrashlyticsAppender" />

	<root level="TRACE">
		<appender-ref ref="logcat" />
		<appender-ref ref="crashlytics" />
	</root>

</configuration>