# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.java]
indent_style = tab

[*.xml]
indent_style = tab

[/gradlew]
end_of_line = lf

[/gradlew.bat]
end_of_line = crlf
